DATABASE_URL=postgres://postgres:postgres@postgres:5432/nextMovie?schema=public
REDIS_HOST=redis

SECRET_SESSION=
PAGINATION=10
NODE_ENV=development



DOMAIN=http://localhost:3000
DOMAIN_CLIENT=http://localhost:3001
DOMAIN_DOCKER_FRONTEND=http://nextjs:3001



SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

SESSION_SECRET=

JWT_EXPIRATION=
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
SECRET_SESSION=


CLOUDINARY_NAME=
CLOUDINARY_API=
CLOUDINARY_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CALLBACK_URL=
GITHUB_CLIENT_SECRET=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

HF_MODEL=
HF_TOKEN=




POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nextMovie 





JWT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=


PAYPAL_CLIENT_ID=
PAYPAL_SECRET=